/* Original teacher logo font, self-hosted without conversion; license is linked in the demo guide. */
@font-face { font-family: 'YeogiOttaeJalnan'; src: url('./yg-jalnan.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
